.notification-wrapper {
  padding: 1rem;
}

.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.tabs button {
  padding: 6px 12px;
  border: none;
  background: #eee;
  border-radius: 6px;
  cursor: pointer;
}

.tabs .active-tab {
  background: #222;
  color: white;
  font-weight: bold;
}

.requests-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.request-card {
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-radius: 8px;
}

.request-card img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.request-card .btns button {
  margin-left: 1rem;
  padding: 4px 8px;
}


/* 
 */
 
.status-time {
  font-size: 0.85rem;
  color: #666;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin-top: 4px;
}



.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 4px;
}

.skill-badge {
  background-color: #eef2f5;
  color: #333;
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 999px;
  border: 1px solid #ccc;
}
